<h2>Welcome to La Pizza Restaurant!</h2>

<div class="row">

    <%  @products.each do |p|%>
    <div class="col-md-3">
        <%= p.title %>
    </div>
    <% end %>

</div>

<button class="btn btn-success" onclick="something()">Click me</button>


